# vim: ft=dosini
[Metadata]
Name=PywalTheme
Version=0.1
Author=shorin
Description=WallpaperColorSyncByPywal
ScaleWithDPI=True

[InputPanel]
# 一般文字颜色
NormalColor={foreground}
# 高亮文字颜色
HighlightColor={color2}
# 高亮背景颜色
HighlightBackgroundColor={color5}
# 被选中的文字颜色
HighlightCandidateColor={color0}
# KWin 下启用模糊
EnableBlur=False
# 模糊遮罩
BlurMask=
# 竖排列表时使用所有横向空间高亮
FullWidthHighlight=True
# 页面按钮垂直对齐
PageButtonAlignment="Last Candidate"

[InputPanel/Background]
# 输入法框整体背景颜色
Color={background}
# 边框颜色
BorderColor={color8}
# 边框宽度
BorderWidth=2

[InputPanel/Background/Margin]
Left=2
Right=2
Top=2
Bottom=2

[InputPanel/Highlight]
# 高亮背景颜色
Color={color5}

[InputPanel/Highlight/Margin]
Left=5
Right=5
Top=5
Bottom=5

[InputPanel/ContentMargin]
Left=2
Right=2
Top=2
Bottom=2

[InputPanel/TextMargin]
Left=5
Right=5
Top=5
Bottom=5

[Menu]
# 一般文字颜色
NormalColor={foreground}
# 选中项文本颜色
HighlightCandidateColor={foreground}

[Menu/Background]
Image=
Color={background}
BorderColor={color8}
BorderWidth=2
Overlay=
Gravity="Top Left"
OverlayOffsetX=0
OverlayOffsetY=0
HideOverlayIfOversize=False

[Menu/Background/Margin]
Left=2
Right=2
Top=2
Bottom=2

[Menu/Highlight]
Image=
Color={color5}
BorderColor={color8}
BorderWidth=0
Overlay=
Gravity="Top Left"
OverlayOffsetX=0
OverlayOffsetY=0
HideOverlayIfOversize=False

[Menu/Highlight/Margin]
Left=5
Right=5
Top=5
Bottom=5

[Menu/Highlight/OverlayClipMargin]
Left=0
Right=0
Top=0
Bottom=0

[Menu/Separator]
Image=
Color={color8}
BorderColor=#ffffff00
BorderWidth=0
Overlay=
Gravity="Top Left"
OverlayOffsetX=0
OverlayOffsetY=0
HideOverlayIfOversize=False

[Menu/Separator/Margin]
Left=0
Right=0
Top=0
Bottom=0

[Menu/Separator/OverlayClipMargin]
Left=0
Right=0
Top=0
Bottom=0

[Menu/CheckBox]
Image=radio.png
Color={foreground}
BorderColor=#ffffff00
BorderWidth=0
Overlay=
Gravity="Top Left"
OverlayOffsetX=0
OverlayOffsetY=0
HideOverlayIfOversize=False

[Menu/CheckBox/Margin]
Left=0
Right=0
Top=0
Bottom=0

[Menu/CheckBox/OverlayClipMargin]
Left=0
Right=0
Top=0
Bottom=0

[Menu/SubMenu]
Image=arrow.png
Color={foreground}
BorderColor=#ffffff00
BorderWidth=0
Overlay=
Gravity="Top Left"
OverlayOffsetX=0
OverlayOffsetY=0
HideOverlayIfOversize=False

[Menu/SubMenu/Margin]
Left=0
Right=0
Top=0
Bottom=0

[Menu/SubMenu/OverlayClipMargin]
Left=0
Right=0
Top=0
Bottom=0

[Menu/ContentMargin]
Left=2
Right=2
Top=2
Bottom=2

[Menu/TextMargin]
Left=5
Right=5
Top=5
Bottom=5
